{% extends "layout.html" %}
{% block content %}
  <html>
<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		
		<title> Samsung </title>
</head>



<body  class="border" align="center" >

<br>

  <img src= "/static/Graphics/samsung-logo.jpg" id="samsunglogo">
 
  

</br>
	<p>
  <img src= "/static/Graphics/SamsungGalaxy.jpg" align="left" width="450" height="300">

	
		<h2 align="center"><b><u> Samsung </u></b></h2> 

		<p>
		<h2>Beyond a phone, <p> there is a Galaxy </p> 
		<p> <a href= "Table.html" target="_right" > <b>Samsung's Galaxy</b> </a> range are more than just phones,</p> <p> they’re the key to a Galaxy of experiences</p></h2>
		</p>
	</p>

	<p> Water resistance, fast charging, and the return of expandable storage – it’s all there.  </p>
	

	<br>

	<p>
	<img src= "/static/Graphics/watch.jpg" align="right" width="450" height="250">
	
		<h2 align="center-left"> <b> <u> Feel free with the Gear S3 </b></u></h2>
	
		<p>
		<h2> The Gear S3 has the aesthetics of a truly premium watch with advanced features built right into the watch design - that's why it's so easy and effortless to use. 
		<p>It's also built for you to go days without needing to recharge. </p> <p>You get to feel free with the Gear S3.</p> </h2>
	
	</p>
	</br>


</body>
</html>
{% endblock %}